{% extends 'base.html.twig' %}
{% block body %}

  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-md-0 mt-0">
        {% for materials in b %}
          <div class="card">
            <div class="card-header pb-0 px-3">
              <h6 class="mb-0">Materials Informations</h6>
            </div>
            <div class="card-body pt-4 p-5">
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6><span class="mb-2 text-xs">Type Material: <span class="text-dark font-weight-bold ">{{ materials.TypeMaterial }}</span></span> </h6>
                    <span class="mb-2 text-xs">Unit Price: <span class="text-dark ms-sm-2 font-weight-bold">{{ materials.UnitPrice }}</span></span>
                    <span class="mb-2 text-xs">Quantity: <span class="text-dark ms-sm-2 font-weight-bold">{{ materials.Quantity }}</span></span>
                    <span class="mb-2 text-xs">Depot: <span class="text-dark ms-sm-2 font-weight-bold">{{ materials.Depot.Location }}</span></span>
                  </div>
                  <div class="ms-auto text-end">
                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href={{ path('display_deletematerials',{'id':materials.id}) }}><i class="far fa-trash-alt me-2"></i>Delete</a>
                    <a class="btn btn-link text-dark px-3 mb-0" href={{ path('display_editmaterials',{'id':materials.id}) }}><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
       
      </div>
    </div>
{% endblock %}