{% extends 'base.html.twig' %}

{% block body %}


  
  <div class="main-content position-relative max-height-vh-100 h-100">
    <div class="container-fluid py-8">
      <div class="row">
        <div class="col-md-0">
        {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0">Edit Materials</p>
                
                {{ form_widget(f.Submit,{'label':'EDIT','attr':{'class':'btn btn-primary btn-sm ms-auto'}}) }}
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Type Material</label>
                    {{ form_widget(f.TypeMaterial,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(f.TypeMaterial)}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Unit Price</label>
                    {{ form_widget(f.UnitPrice,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(f.UnitPrice)}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Quantity</label>
                    {{ form_widget(f.Quantity,{'attr':{'class':'form-control'}}) }}
                    {{form_errors(f.Quantity)}}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Depot</label>
                    {{ form_widget(f.Depot, {'attr': {'class': 'form-control'}}) }}

                    {{ form_errors(f.Depot)}}
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
          {{ form_end(f) }}
        </div>
        
      </div>
      {% endblock %}