{% extends 'base.html.twig' %}
{% block title %}
	DashBoard
{% endblock %}
{% block container %}
	<main
		class="main-content position-relative border-radius-lg ">
		<!-- Navbar -->
		<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
			<div class="container-fluid py-1 px-3">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
						<li class="breadcrumb-item text-sm">
							<a class="opacity-5 text-white" href="javascript:;">Pages</a>
						</li>
						<li class="breadcrumb-item text-sm text-white active" aria-current="page">Tables</li>
					</ol>
					<h6 class="font-weight-bolder text-white mb-0">Tables</h6>
				</nav>
				<div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
					<div class="ms-md-auto pe-md-3 d-flex align-items-center">
						<div class="input-group">
							<span class="input-group-text text-body">
								<i class="fas fa-search" aria-hidden="true"></i>
							</span>
							<input type="text" class="form-control" placeholder="Type here...">
						</div>
					</div>

				</div>
			</div>
		</nav>
		<!-- End Navbar -->
		<div class="container-fluid py-4">
			<div class="row">
				<div class="col-12">
					<div class="card mb-4">
						<div class="card-header pb-0">
							<h6>Supplier Table</h6>
						</div>
						<div class="card-body px-0 pt-0 pb-2">
							<div class="table-responsive p-0">
								<table class="table align-items-center mb-0">
									<thead>
										<tr>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Company name</th>
											<th class="text-center text-upperc	ase text-secondary text-xxs font-weight-bolder opacity-7">Address</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone Number</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Patent</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">--</th>
										</tr>
									</thead>
									<tbody>
										{% for p in supplier %}
											<tr>
												<td class="align-middle text-center text-sm">
													<span class="badge badge-sm bg-gradient-success">{{ p.id }}
													</span>
												</td>
												<td class="align-middle text-center text-sm">
													<span class="text-secondary text-xs font-weight-bold">{{ p.CompanyName }}
													</span>
												</td>
												<td class="align-middle text-center text-sm">
													<span class="text-secondary text-xs font-weight-bold">{{ p.Address }}
													</span>
												</td>
												<td class="align-middle text-center">
													<span class="text-secondary text-xs font-weight-bold">{{ p.MaterialsS }}
													</span>
												</td>
												<td class="align-middle">
													<span class="text-secondary text-xs font-weight-bold">{{ p.PhoneNumber }}
													</span>
												</td>
												<td class="align-middle">
													<span class="text-secondary text-xs font-weight-bold">{{ p.PatentRef }}
													</span>
												</td>
												<td class="align-middle">
													<div class="ms-auto text-end">
														<a class="btn btn-link text-danger text-gradient px-3 mb-0" href="{{ path ('app_delete_Supplier', {'id':p.id }) }}">
															<i class="far fa-trash-alt me-2"></i>Delete</a>
														<a class="btn btn-link text-dark px-3 mb-0" href="{{ path ('app_edit_supplier', {'id':p.id}) }}">
															<i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
													</div>
												</td>
											</tr>
										</tr>
									{% endfor %}
								</tbody>
								<div class="ms-auto text-end">
									<a class="btn btn-link text-dark px-3 mb-0" href="/dashboard/addsupplier">
										<i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Add New</a>
								</div>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
