{% extends 'base.html.twig' %}
{% block sidebar %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block body %}
<title>
    ImmoXcel Sign Up
  </title>
 <nav class="navbar position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent mt-4 justify-content-between">
  <div class="container d-flex align-items-center justify-content-between">
    <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white" href="/dashboard">
      <img src="{{ asset("../assets_dashboard/img/ImmoXcel.png") }}" class="navbar-brand-img h-100" style="width: 150px; height: auto;" alt="main_logo">
    </a>
    <div class="d-flex align-items-center">
      <span class="text-white font-weight-bold me-3">
        <i class="fa fa-user me-sm-1"></i>
        <span class="d-sm-inline d-none">{{ username }}</span>
      </span>
      <a href="{{ path('go_to_logout') }}" class="btn btn-sm btn-danger mt-1">Logout</a>
    </div>
  </div>
</nav>



  <!-- End Navbar -->
  <main class="main-content  mt-0">
    
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signup-cover.jpg'); background-position: top;">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
            <h1 class="text-white mb-2 mt-5">Welcome!</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-4">
              <h5>Register</h5>
            </div>
            <div class="row px-xl-5 px-sm-4 px-3">
              <div class="col-3 ms-auto px-1">
                
              </div>
              <div class="col-3 px-1">
                
              </div>
              <div class="col-3 me-auto px-1">
                
              </div>
              <div class="mt-2 position-relative text-center">
                
              </div>
            </div>
            <div class="card-body">
              {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}
                <div class="mb-3">
                    {{ form_widget(f.Employee,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="mb-3">
                  {{ form_widget(f.Email,{'attr':{'class':'form-control', 'placeholder': 'Email'}}) }}
                  {{ form_errors(f.Email,{'attr':{'class':'text-danger'}}) }}
                </div>
                <div class="mb-3">
                  {{ form_widget(f.Username,{'attr':{'class':'form-control', 'placeholder': 'Username'}}) }}
                  {{ form_errors(f.Username,{'attr':{'class':'text-danger'}}) }}
                </div>
                <div class="mb-3">
                  {{ form_widget(f.Password, {'attr': {'class': 'form-control', 'type': 'password', 'placeholder': 'Password'}}) }}
                  {{ form_errors(f.Password, {'attr': {'class': 'text-danger'}}) }}
                </div>
                <div class="mb-3">
                  <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="text-center">
                    {{ form_widget(f.Add,{'label': 'Add User','attr':{'class':'btn bg-gradient-dark w-100 my-4 mb-2'}})}}
                </div>
              {{ form_end(f) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </main>
{% endblock %}